* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #2d3436; */
  background-color: #2d3436;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 0;
}

header {
  background-color: #f39c12;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  /* font-family: "McLaren", cursive; */
  font-weight: 200;
  margin-left: 20px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #636e72;
  border-radius: 7px;
  /* box-shadow: 0 2px 5px #ff8303; */
  padding: 10px;
  width: 280px;
  margin: 16px;
  float: left;
  color: #dfe6e9;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  background: #636e72;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  /* width: 36px; */
  /* height: 36px; */
  cursor: pointer;
  outline: none;
  padding: 10px;
}

/* form {
  position: relative;
  width: 50%;
  margin: 30px auto 20px auto;
  background: #636e72;
  padding: 15px;
  border-radius: 7px;
  /* box-shadow: 0 1px 5px rgb(138, 137, 137); */

/* form input,
form textarea, form input[placeholder] {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: #636e72;
  color: #fff;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
} */

form.create-note {
  position: relative;
  width: 50%;
  margin: 30px auto 20px auto;
  background: #636e72;
  padding: 15px;
  border-radius: 7px;
  /* box-shadow: 0 1px 5px rgb(138, 137, 137); */
}

@media only screen and (max-width: 620px) {
  form.create-note {
    width: 90%;
  }
  .note {
    width: 90%;
    margin-left: 5%;
  }
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: #636e72;
  color: #fff;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

::placeholder {
  color: #aeb9bd;
}
